<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">League of Friends</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item mx-3">
          <%= link_to root_path, class: "nav-link" do %>ホーム<% end %>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">フレンド検索</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">コミュニティーボード</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">サークル</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">League of Friendsについて</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">お問い合わせ</a>
        </li>

        <li class="nav-item mx-3">
          <a class="nav-link" href="#">プライバシーポリシー</a>
        </li>

        <li class="nav-item mx-3">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, class: "nav-link" do %>ログアウト<% end %>
          <% else %>
            <%= link_to new_user_registration_path, class: "nav-link" do %>ユーザー登録<% end %>
          <% end %>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
   </div>
 </nav>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
</header>